
@*@model CutList.Models.WorkOrder*@

@{
    ViewData["Title"] = "Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<!-- custom class backgrounWhite found in site.css file-->

<br />
<div class="border backgroundWhite p-2">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">@ViewData["Title"] List 123</h2>
        </div>
        <div class="col-4 text-right">
            <!-- update and insert is Upsert -->
            <a asp-action="Upsert" class="btn btn-primary">
                <!-- fontAwesome icon  https://fontawesome.com/icons?d=gallery&m=free -->
                <i class="fas fa-plus"></i>&nbsp;&nbsp;Create New @ViewData["Title"] 123
            </a>
        </div>
    </div>
    <br />
    <br />

    <table id="tblData" class="table table-striped table-boarded" style="width:100%">
        <thead>
            <tr>
                @*<th>@Html.LabelFor(model => model.WorkOrderId)</th>
                <th>@Html.LabelFor(model => model.Project.ProjectName)</th>
                <th>@Html.LabelFor(model => model.ProjectId)</th>
                <th>@Html.LabelFor(model => model.JobNotes)</th>
                <th>@Html.LabelFor(model => model.ApprovalEngineerString)</th>*@

                <th>WorkOrderId 123</th>
                <th>ProjectName 123</th>
                <th>ProjectId 123</th>
                <th>JobNotes 123</th>
                <th>LeadengineerString 123</th>
                <!-- table header for edit and delete buttons -->
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<!-- add JavaScript scripts -->
@section Scripts{
    <script src="~/js/workOrder.js"></script>
}
